<h2>Por Region</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- <shared-search-box  (onValue)="searchByRegion($event)"   placeHolder="Buscar por Capital" ></shared-search-box> -->
    <button   (click)="searchByRegion(region)"  *ngFor="let region of regions" class="btn mx-2" [ngClass]="{'btn-outline-primary':selectedRegion===region}"   >
    {{region}}</button>

  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-country-table [countries]="countrys"></countries-country-table>
  </div>
</div>
